.main_bg {position:fixed; top:0; left:0; z-index:-1; width:100%; height:100%; overflow:hidden;}
.main_bg .bg_top {position:absolute; top:-45vh; right:-5vw; width:880px; height:880px;}
.main_bg .bg_bottom {position:absolute; top:60vh; left:-8vw; width:425px; height:425px;}